/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --first-hue: 189;
    --first-sat: 61%;
    --first-lig: 73%;
    --second-hue: 212;
    --second-sat:95%;
    --second-lig: 16%;
    --first-color: hsl(var(--first-hue), var(--first-sat), var(--first-lig)); /* AZULITO CLARO */
    --second-color: hsl(var(--second-hue), var(--second-sat), var(--second-lig)); /* AZUL OSCURO */
    --background-light-color: hsl(var(--first-hue), var(--first-sat), 98%);
    --first-color-hover: hsl(var(--first-hue), var(--first-sat), 66%); /* -7% */
    --text-color: hsl(var(--second-hue), var(--second-sat), var(--second-lig));
    --text-color-light: hsl(var(--second-hue), 20%, 50%);
    --container-color: var(--white);
    --black: #000;
    --white: #fff;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem; /* 28px */
  --h1-font-size: 1.5rem; /* 24px */
  --h2-font-size: 1.25rem; /* 20px */
  --h3-font-size: 1rem; /* 16px */
  --big-font-size: 1.125rem; /* 18px */
  --normal-font-size: 1rem; /* 16px */
  --small-font-size: .875rem; /* 14px */
  --smaller-font-size: .75rem; /* 12px */
  --tiny-font-size: .625rem;  /* 10px */
  
    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;
}

/*=============== ESTILOS GENERALES ===============*/
body {
    font-family: var(--body-font);
    font-size: var(--big-font-size);
    background-color: var(--background-light-color);
}
h1 {
    margin: 0;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    color: var(--text-color);
}
h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    color: var(--text-color);
}
h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
    color: var(--text-color);
}
p {
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
    color: var(--text-color);
}

/* --- BOTON PRINCIPAL --- */
.btn__primary {
    background-color: var(--first-color);
    color: var(--white);
    border: none;
    border-radius: .5rem;
    padding: .75rem 2rem;
    cursor: pointer;
}
.btn__primary--hover:hover {
    background-color: var(--first-color-hover);
    transition: background-color 0.3s;
}
.btn__primary--outline {
    background-color: transparent;
    border-radius: .5rem;
    border: 2px solid var(--first-color);
    color: var(--first-color);
    padding: .75rem 2rem;
    cursor: pointer;
}
.btn__primary--outline--focus:hover {
    background-color: var(--first-color);
    color: var(--white);
    transition: background-color 0.3s;
}
.link {
    color: var(--text-color-light);
}
.link:hover {
    color: var(--text-color);
    transition: color 0.3s;
}

/* --- INPUTS Y LABELS --- */
.input__primary {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--first-color);
    color: var(--text-color-light);
    padding: .5rem;
    outline: none;    
}
.input__primary::placeholder {
    transition: color 0.3s;
    color: var(--text-color-ligh);
}
.input__primary--focus:focus {
    border-bottom: 3px solid var(--first-color-hover);
    transition: color 0.3s;
    color: var(--text-color);
}
.label {
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: .5rem;
}


/* ---------------------------------------------------- */
@media screen and (max-width: 768px) {
    body {
        font-size: var(--normal-font-size);
    }
    .login__img {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .img__logo, .img {
        width: 15rem;
    }
    .img_forgot-pass {
        width: 20rem;
    }
    .btn__subscribe {
        margin-top: 3rem;
    }
}
@media screen and (min-width: 768px) {
    p {
        font-size: var(--big-font-size);
        font-weight: var(--font-normal);
        color: var(--text-color);
    }
    .img__logo {
        display: none;
    }
    .content__login, .bg-container {
        background-color: var(--container-color);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.content__login, .content__forgot-pass {
    padding: 2rem 1rem;
    border-radius: 1rem;
    width: 40rem;
}
.login__form {
    margin: 0 0 2rem 0;
}
.content__form {
    display: flex;
    flex-direction: column;
}
.content__password {
    margin-top: 1rem;
}
.img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.btn__login {
    width: 100%;
}
.buton__login {
    margin-top: 2rem;
}
.login__forgot-pass {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.btn__subscribe {
    width: 100%;
}

/* ========== OLVIDE CONTRASEÑA =========== */
.content__forgot-pass {
    padding: 1rem;
}
.container__img {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.img_forgot-pass {
    width: 10rem;
}
.content__title {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}
.content__subtitle p {
    color: var(--text-color-light);
}